
.steam-style 
  width: 102px;

.steam 
	opacity: 0
	stroke-dashoffset 9.886253356933594
	stroke-dasharray: 9.886253356933594

@for $i from 1 to 4
	#steam#{$i}
		animation: steam#{$i} 7s infinite cubic-bezier(0.24, 0.85, 0.37, 0.99) forwards
		animation-delay: #{$i * 600}ms
 
@for $i from 1 to 4
	@keyframes steam#{$i}
		0%
			opacity: 0
			stroke-dashoffset: 0

		50%
			opacity: 0.6
			stroke-dashoffset: 0

		100%	
			opacity: 0
			stroke-dashoffset: -9
