
.Cups_Main {
}

.cup-title {

}
.cup-text {
 
  
}
.cup-spacer {
  min-height: 8vh;
}
.button--emoji {
  margin: 7px 7px 7px 7px;
  // background-color: white;
}
.star {
  margin: 7px 2px 7px 2px;
}


.star:hover {
  filter: gray;
  -webkit-filter: grayscale(1); 
  filter: grayscale(1)

}
.feelings {
  background-color: rgb(173, 145, 93);
  color: rgb(255, 255, 255);
  max-width: calc(500px + 2vw);
  min-width: 300px;
}

