
.Cups_Main {
}

.cup-title {

}

.button--emoji {
  padding: 1px 7px;
  // background-color: white;
}

.star:hover {
  filter: gray;
  -webkit-filter: grayscale(1); 
  filter: grayscale(1)

}

.star {
  margin: 0px 2px 10px;
}