.App {
  text-align: center;

}

body {
    background-color: rgb(120, 176, 221);
}


.App-header {
  background-color: rgb(120, 176, 221);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 /* justify-content: center; */
  font-size: calc(6px + 2vmin);
  color: white;
  margin-top: 20vh;
}

.App-link {
  color: #61dafb;
}


.button {
  size: 80rem;
  margin: 0px 12px 20px;
  background-color: inherit;
}

.time {
  margin: 5px 0px 20px;
}

.star:hover {
  filter: gray;
  -webkit-filter: grayscale(1); 
  filter: grayscale(1)
}

.star {
  margin: 0px 2px 0px;
}

.warning {
  color: rgb(241, 62, 62);
  font-size: 0.75rem;

}

