.App {
  text-align: center;
}

body {
    background-color: rgb(120, 176, 221);
}


.App-header {
  background-color: rgb(120, 176, 221);
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 /* justify-content: center; */
  font-size: calc(6px + 2vmin);
  color: white;
  margin-top: 15vh;
}

.App-link {
  color: #61dafb;
}


.button {
  size: 80rem;
  margin: 12px 10px;
  background-color: inherit;
}
.clickButton {
//  padding: 8px;

  margin: 20px;
}

.time {
  margin: 5px 0px 20px;
}

.star:hover {
  filter: gray;
  -webkit-filter: grayscale(1); 
  filter: grayscale(1)
}

.star {
  margin: 0px 2px 0px;
}

.warning {
  color: rgb(241, 62, 62);
  font-size: 0.80rem;

}

.note {
  color: whitesmoke;
  font-style: italic;
  font-size: 0.80rem;
}

h1 {
  margin-bottom: 0px;
}
h3 {
  margin-bottom: 40px;
  text-decoration: underline;
}
