
body {
  margin: 0;
}
h1 {
  margin: 20px 25px 30px;
  font-family: Raleway ;
  letter-spacing: 0.1rem;
}
a {
  color: rgb(58, 112, 94);
}

.central-component {
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgb(120, 176, 221), rgb(120, 176, 221),rgb(120, 176, 221), rgb(120, 189, 221),  #dcbf87);
  color: white;
  font-size: calc(0.8em + 0.8vw);
}

.App-footer {
  position: absolute;
    bottom: 20px;
    width: 100%;
}

.button {
  font-size: 0.95rem;
  font-family: Raleway;
  letter-spacing: 0.1em;
  color: white;
  padding: 8px 30px;
  margin: 5px 5px;
  background-color: transparent;
  border-width: 0.15rem;
  border-color:rgb(210, 236, 181);
  border-color:whitesmoke;
  border-radius: 0.3rem;
  border-style: solid;
  &:focus {
    outline-width: 1px;
    outline-color: rgb(230, 203, 154);
    outline-offset: -2px;
  }
}


.spacer_large {
min-height: 14vh;
}
.spacer {
min-height: 10vh;
}
.spacer_medium {
  min-height: 8vh;
}
.spacer_small {
  min-height: 4vh;
}

.warning {
  color: rgb(211, 54, 54);
  font-size: 0.85rem;
  flex-wrap: wrap;
  margin: 10px 80px;
}

.note {
  font-family: Raleway;
  color: whitesmoke;
  font-size: 1.1rem;
  margin: 0px 25vw 15px;
  text-decoration-color: rgba(247, 226, 158, 0.74);
}

.note_inputs_txt {
  font-family: Raleway;
  font-size: 0.95rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

