
body {
  margin: 0;
}
h1 {
  margin: 0;
  padding: 20px 25px 25px;
  font-family: Raleway;
  letter-spacing: 0.1rem;
}
a {
  color: rgb(58, 112, 94);
}

.button {
  font-size: 0.95rem;
  font-family: Raleway;
  letter-spacing: 0.1em;
  color: white;
  padding: 8px 30px;
  margin: 5px 5px;
  background-color: transparent;
  border-width: 0.15rem;
  border-color:rgb(210, 236, 181);
  border-color:whitesmoke;
  border-radius: 0.3rem;
  border-style: solid;
  &:focus {
    outline-width: 1px;
    outline-color: rgb(230, 203, 154);
    outline-offset: -2px;
  }
}

.central-component {
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(rgb(120, 176, 221), rgb(120, 176, 221),rgb(120, 176, 221), rgb(120, 189, 221),  #dcbf87);
  color: white;
}
.coffee-logo-container {
    .cup-img {
      padding-top: 6rem;
    }
}
.intro-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
 
  .warning-container {
    margin: 2rem 0;
  }
}

.note {
  font-family: Raleway;
  color: whitesmoke;
  font-size: 1rem;
  margin: 0px 0px 10px;
  text-decoration-color: rgba(247, 226, 158, 0.74);
}

.note_inputs_txt {
  font-family: Raleway;
  font-size: 0.9rem;
 
}



