
#reset {
  padding: 4px;
//  border-color: black;
color: rgb(32, 32, 32);
background-color: whitesmoke

}
.meds {
  // text-align: start;
  // justify-content: center;
  // background-color: rgb(187, 87, 87);
  
  // align-items: center;
  display: inline-flex;
  flex: 1 3 160px;

}