

.analysis-container {

  background-color: rgb(120, 176, 221);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 /* justify-content: center; */
  font-size: calc(6px + 2vmin);
  color: white;
  margin-top: 20vh;
}

.central-component_analysis {

  min-height: 100vh;
    text-align: center;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgb(120, 176, 221), rgb(120, 176, 221),rgb(120, 176, 221), rgb(120, 189, 221), rgb(224, 191, 129));
   color: white;
  font-size: calc(0.8em + 0.8vw);

}

.plot{
  height: calc(300px + 20vh);
  // width: 500px;
  // width: calc(400px + 20vw);
}