
.central-component_analysis {
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgb(120, 176, 221), rgb(120, 176, 221),rgb(120, 176, 221), rgb(120, 189, 221), rgb(224, 191, 129));
  color: white;
  font-size: calc(0.8em + 0.8vw);
}

.plot{
  height: calc(220px + 10vh);
}

.dangerzone {
  font-size: 4vw;
  color: rgb(209, 52, 52);
}

.paragraph {
    color: rgb(56, 33, 16);
  font-size: 0.8em;
    margin: 0px 25vw;
}