
.drugs-container {
  .button_optional{
    font-size: 0.85rem;
  }

  .meds {
    // padding: 0 5px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    
  }
  .warning {
    color: rgb(211, 54, 54);
    font-size: 0.85rem;
    flex-wrap: wrap;
    margin: 10px 80px;
    min-height: 4rem;
  }
}
