
.flex-outro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}
.footer-container {
  padding-bottom: 15px;
  max-width: 85%;
}
.social-media {
  padding: 0.4rem;

}
.social-media_container {
  padding: 2rem;

}